ffmpy==1.0.0
diffusers==0.37.0.dev0
scikit-image==0.26.0
nvidia-cublas-cu12==12.4.5.8
httpcore==1.0.9
rtree==1.4.1
importlib_metadata==8.7.1
triton==3.2.0
triton==3.2.0+git576374f8
flatbuffers==25.12.19
tokenizers==0.22.2
torchvision==0.21.0+cu124
gradio_client==2.2.0
wandb==0.25.0
mapbox_earcut==2.0.0
rpds-py==0.30.0
referencing==0.37.0
websockets==14.2
nvidia-cufft-cu12==11.2.1.3
platformdirs==4.5.1
six==1.17.0
huggingface_hub==1.5.0
nvidia-cusparse-cu12==12.3.1.170
lazy_loader==0.4
tqdm==4.67.3
semantic-version==2.10.0
colorama==0.4.6
pydantic==2.10.6
pydantic==2.12.5
iopath==0.1.10
dacite==1.9.2
jsonschema==4.26.0
psutil==7.2.2
nvidia-nccl-cu12==2.21.5
click==8.3.1
pytz==2025.2
torchaudio==2.6.0+cu124
aiofiles==23.2.1
numpy==2.4.2
httpx==0.28.1
omegaconf==2.3.0
MarkupSafe==3.0.3
MarkupSafe==2.1.5
transformers==5.2.0
PySocks==1.7.1
Jinja2==3.1.6
lpips==0.1.4
fvcore==0.1.5.post20221221
appdirs==1.4.4
nvidia-nvtx-cu12==12.4.127
sentry-sdk==2.52.0
eval_type_backport==0.3.1
manifold3d==3.3.2
filelock==3.20.3
typing-inspection==0.4.2
pycollada==0.9.3
nvidia-cuda-runtime-cu12==12.4.127
svg.path==7.0
torch==2.6.0+cu124
fonttools==4.61.1
Brotli==1.2.0
pytorch3d==0.7.8
charset-normalizer==3.4.4
markdown-it-py==4.0.0
sympy==1.13.1
h11==0.16.0
setuptools==82.0.0
contourpy==1.3.3
h2==4.3.0
mpmath==1.3.0
docker-pycreds==0.4.0
nvidia-cudnn-cu12==9.1.0.70
annotated-doc==0.0.4
packaging==26.0
python-dateutil==2.9.0.post0
fsspec==2026.2.0
torchmetrics==1.8.2
tifffile==2026.1.28
tzdata==2025.3
pip==26.0.1
nvidia-nvjitlink-cu12==12.4.127
mdurl==0.1.2
scikit-video==1.1.11
nvidia-cuda-nvrtc-cu12==12.4.127
pydantic_core==2.27.2
pydantic_core==2.41.5
pybind11-global==3.0.1
wadler_lindig==0.1.7
hpack==4.1.0
pillow==11.3.0
trimesh==4.11.2
certifi==2026.1.4
Pygments==2.19.2
optree==0.18.0
rich==14.3.2
idna==3.11
hyperframe==6.1.0
lightning==2.6.0
yacs==0.1.8
GitPython==3.1.46
python-multipart==0.0.22
peft==0.18.1
fastapi==0.128.7
urllib3==2.6.3
setproctitle==1.3.7
tyro==1.0.6
matplotlib==3.10.8
nvidia-cusolver-cu12==11.6.1.9
antlr4-python3-runtime==4.9.3
shellingham==1.5.4
shapely==2.1.2
colorlog==6.10.1
xxhash==3.6.0
yourdfpy==0.0.60
opencv-python==4.13.0.92
scipy==1.17.0
nvidia-cuda-cupti-cu12==12.4.127
regex==2026.1.15
nvidia-cusparselt-cu12==0.6.2
lightning-utilities==0.15.2
portalocker==3.2.0
lightglue==0.0
ImageIO==2.37.2
kornia_rs==0.1.10
tomlkit==0.13.3
hydra-core==1.3.2
ruff==0.15.0
lxml==6.0.2
gmpy2==2.2.1
starlette==0.52.1
docstring_parser==0.17.0
annotated-types==0.7.0
viser==0.2.23
pydub==0.25.1
msgspec==0.20.0
termcolor==3.3.0
cycler==0.12.1
nvidia-curand-cu12==10.3.5.147
pycolmap==3.10.0
anyio==4.12.1
kiwisolver==1.4.9
pyceres==2.3
hf-xet==1.2.0
typing_extensions==4.15.0
pybind11==3.0.1
networkx==3.6.1
smmap==5.0.2
nodeenv==1.10.0
typer==0.21.2
jsonschema-specifications==2025.9.1
vhacdx==0.0.10
onnxruntime==1.24.1
requests==2.32.5
safetensors==0.7.0
groovy==0.1.2
kornia==0.8.2
typer-slim==0.21.2
orjson==3.11.7
attrs==25.4.0
uvicorn==0.40.0
safehttpx==0.1.7
jaxtyping==0.3.7
PyYAML==6.0.3
einops==0.8.2
tabulate==0.9.0
typeguard==4.4.4
wheel==0.46.3
zipp==3.23.0
protobuf==5.28.3
pyparsing==3.3.2
gradio==6.8.0
pytorch-lightning==2.6.1
accelerate==1.12.0
plyfile==1.1.3
pandas==2.3.3
gitdb==4.0.12
embreex==2.17.7.post7
backports.zstd==1.3.0
importlib_metadata==8.7.1
jaraco.text==4.0.0
more-itertools==10.8.0
packaging==26.0
backports.tarfile==1.2.0
jaraco.context==6.1.0
tomli==2.4.0
autocommand==2.2.2
platformdirs==4.4.0
jaraco.functools==4.4.0
wheel==0.46.3
zipp==3.23.0